<div class="modal" tabindex="-1" role="dialog" id="modal-alerta-session">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body sesion_expirada">
                <img src="@Url.Content("~/Content/img/sesion_out.png")" class="img-responsive mb-5" alt="">
                <h2 class="text-white">TU SESIÓN ESTÁ POR EXPIRAR</h2>
                <p class="text-white f-s-16">
                    En unos segundos cerraremos tu sesión por inactividad.<br>
                    ¿Deseas mantener activa tu sesión?
                </p>
            </div>
            <div class="modal-footer">
                <button id="aceptarModal" type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
