<div id="sidebar" class="sidebar">
    <!-- DATOS USUARIO -->
    <ul class="nav">

    </ul>

     <!-- MENU -->
    <ul class="nav">
        <li class="nav-header">Menú</li>
        <li>
            <a class="nav-link" href='@Url.Action("Index", "ApiManager")'>
                <i class="fa fa-cog"></i>
                <span>API Management</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-cog"></i>
                <span>API Creator Web<span class="label label-theme m-l-5">Soon..</span></span>
            </a>
        </li>
    </ul>
</div>
