<div id="header" class="header navbar-default">
    <div class="navbar-header">
        <a href="#" class="navbar-brand text-center"><img class="logo-sidenav" src="@Url.Content("~/img/logo.png")" alt="logo hdi"></a>
        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="float-left hidden-xs">
        <img src="@Url.Content("~/img/apiCreator.png")" style="height: 80px; width: auto; margin-left: -10px;">
    </div>
    <div class="float-left d-flex align-items-center hidden-xs" style="height: 80px;">
        <h3 class="text-white mx-1">API Management</h3>
    </div>
</div>
